# Arquivos de teste
*.test
*.out

# Arquivos de cobertura
*.cover
coverage.txt

# Arquivos temporários
*.tmp
*.temp

# Arquivos de log
*.log

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db 